Repository liatrio/liatrio-otel-collector, pull requests merged in 2023-08, with the labels that each got.

#61 ci: update goreleaser to pro version
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: github_actions

#70 feat: add ability to perform a search query #68
  .github/workflows/build.yml
  .github/workflows/release.yml
  Makefile
  Makefile.Common
  config/manifest.yaml
  pkg/receiver/gitproviderreceiver/README.md
  pkg/receiver/gitproviderreceiver/go.mod
  pkg/receiver/gitproviderreceiver/go.sum
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_resource.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_resource_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/config.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/generated-graphql.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers.go
  pkg/receiver/gitproviderreceiver/metadata.yaml
Labels: documentation, enhancement, github_actions, go

#74 feat: remove org and user repo queries in favor of singular search
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/generated-graphql.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/schema.graphql
Labels: go

#75 feat: add repo contributor count metric
  pkg/receiver/gitproviderreceiver/README.md
  pkg/receiver/gitproviderreceiver/documentation.md
  pkg/receiver/gitproviderreceiver/go.mod
  pkg/receiver/gitproviderreceiver/go.sum
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_config.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/metadata.yaml
Labels: documentation, go

#77 feat(63): removed pr function and brought it in line with the other graphql queries
  pkg/receiver/gitproviderreceiver/README.md
  pkg/receiver/gitproviderreceiver/documentation.md
  pkg/receiver/gitproviderreceiver/go.mod
  pkg/receiver/gitproviderreceiver/go.sum
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_config.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/generated-graphql.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/metadata.yaml
Labels: documentation, go

#72 feat(47): adding gitlab scraper functionality
  .gitignore
  Dockerfile
  Makefile.Common
  config/config.yaml
  config/manifest.yaml
  pkg/receiver/gitproviderreceiver/factory.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/config.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/factory.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/generated.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/genqlient.graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/genqlient.yaml
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/schema.graphql
Labels: go

#87 feat(80): created add helper function and tests for it
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers_test.go
Labels: go
