Repository liatrio/liatrio-otel-collector, pull requests merged in 2023-11, with the labels that each got.

#175 test: updated some GitHub tests
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers_test.go
Labels: go

#174 test: added new function for gitlab mrs and relevant test
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper_test.go
Labels: go

#178 fix: should return from go routine and release lock on error
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
Labels: go

#183 test: created tests for getContributorCount
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
Labels: go

#185 test(184): updated getCommitData function, added tests
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers_test.go
Labels: go

#190 refactor(188): got rid of now useless branch functions/queries
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/generated-graphql.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers_test.go
Labels: go

#191 refactor(188): got rid of now useless pr functions/queries
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/generated-graphql.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers_test.go
Labels: go

#189 refactor: made getRepoData function, added tests
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers_test.go
Labels: go

#180 feat(92): added contributor count to gitlab scraper
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper_test.go
Labels: go

#194 feat: initial commit of cleanup code
  .github/workflows/build.yml
  Makefile
  Makefile.Common
  config/manifest.yaml
  pkg/receiver/gitproviderreceiver/README.md
  pkg/receiver/gitproviderreceiver/config.go
  pkg/receiver/gitproviderreceiver/factory.go
  pkg/receiver/gitproviderreceiver/factory_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_config.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/generated_graphql.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.yaml
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
Labels: documentation, github_actions, go

#197 docs: Improve debugging experience and update docs
  .debug.env.example
  .gitignore
  README.md
  build/.vscode/launch.json
Labels: documentation

#201 test: added pagination header to mock server, updated test
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers_test.go
Labels: go

#203 test: Test GitHub scrape function, update mock server and tests accordingly
  pkg/receiver/gitproviderreceiver/go.mod
  pkg/receiver/gitproviderreceiver/go.sum
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_happy_path.yaml
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_no_repos.yaml
Labels: go

#206 test: swapped mock client for new mock server for gitlab, updated tests
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/graphql_helpers_test.go
Labels: go

#210 feat: bump to v0.89.0 and bring in cleanup contributions and fixes
  Makefile
  config/manifest.yaml
  pkg/receiver/gitproviderreceiver/internal/common/helpers.go
  pkg/receiver/gitproviderreceiver/internal/common/helpers_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
Labels: go

#205 test: updated tests for getCommitData to be on mock server
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
Labels: go

#212 test: added projectResponse and tested scrape function for gitlab scraper
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper_test.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/testdata/scraper/expected_happy_path.yaml
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/testdata/scraper/expected_no_projects.yaml
Labels: go
