Repository liatrio/liatrio-otel-collector, pull requests merged in 2023-07, with the labels that each got.

#37 docs: update readme with added badges
  README.md
Labels: documentation

#39 feat: add container builds locally and through ci
  .github/workflows/build.yml
  .github/workflows/release.yml
  .goreleaser.yaml
  Dockerfile
  Makefile
  Makefile.Common
  README.md
  build/.vscode/launch.json
  config/config.yaml
  config/manifest.yaml
  pkg/receiver/gitproviderreceiver/documentation.md
  pkg/receiver/gitproviderreceiver/metadata.yaml
  testconfig/config.yaml
  testconfig/manifest-debug.yaml
  testconfig/manifest.yaml
Labels: documentation, github_actions

#44 ci: update release permissions
  .github/workflows/release.yml
Labels: github_actions

#41 refactor: Gh api to graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
Labels: go

#56 fix: add ignore to archived and forked repositories on search
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
Labels: go
