Repository liatrio/liatrio-otel-collector, pull requests merged in 2023-09, with the labels that each got.

#86 feat(63): Adding metrics for approval and deployment age
  pkg/receiver/gitproviderreceiver/documentation.md
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_config.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/generated-graphql.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/metadata.yaml
Labels: documentation, go

#89 feat(76): added metric for difference in commits between a branch and main
  pkg/receiver/gitproviderreceiver/documentation.md
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_config.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/metadata.yaml
Labels: documentation, go

#101 fix: fixed commit diff
  pkg/receiver/gitproviderreceiver/documentation.md
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_config.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/metadata.yaml
Labels: documentation, go

#97 feat: add gitlab branches count metric
  .pre-commit-config.yaml
  README.md
  config/config.yaml
  pkg/receiver/gitproviderreceiver/README.md
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/config.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/generated.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/genqlient.graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
Labels: documentation, go

#102 feat(76): added metric for line deletions and additions for a branch
  pkg/receiver/gitproviderreceiver/documentation.md
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_config.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  pkg/receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/generated-graphql.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers_test.go
  pkg/receiver/gitproviderreceiver/metadata.yaml
Labels: documentation, go

#98 feat: Adding code coverage badge to README.md
  .github/workflows/build.yml
  Makefile.Common
  README.md
Labels: documentation, github_actions

#106 feat(93): adding merge request time metrics
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/generated.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/genqlient.graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
Labels: go

#116 test: Adding more tests to the GitHub Scraper
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/graphql_helpers_test.go
Labels: go

#119 test: added a test for `config.go`
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/config.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/config_test.go
Labels: go

#120 test: added tests for `factory.go`
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/factory_test.go
Labels: go

#115 feat: added branch age metric
  pkg/receiver/gitproviderreceiver/go.mod
  pkg/receiver/gitproviderreceiver/go.sum
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
Labels: go

#122 test: Add gh scraper test
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  pkg/receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
Labels: go

#123 feat: added merged age metric for gitlab
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/generated.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/genqlient.graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
Labels: go

#126 feat: add prometheus remote write exporter and update to 0.85.0
  Makefile
  config/manifest.yaml
  pkg/receiver/gitproviderreceiver/go.mod
  pkg/receiver/gitproviderreceiver/go.sum
  pkg/receiver/gitproviderreceiver/internal/metadata/generated_resource_test.go
Labels: go

#124 feat: added commit line addition/deletion metric
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/generated.go
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/genqlient.graphql
  pkg/receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
Labels: go
