Repository liatrio/liatrio-otel-collector, pull requests merged in 2024-10, with the labels that each got.

#560 fix(deps): Update otel deps
  cmd/compgen/cmd/receiver/templates/factory_test.go.tmpl
  config/manifest.yaml
  extension/githubappauthextension/go.mod
  extension/githubappauthextension/go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  receiver/githubactionsreceiver/generated_component_test.go
  receiver/githubactionsreceiver/go.mod
  receiver/githubactionsreceiver/go.sum
  receiver/githubreceiver/factory_test.go
  receiver/githubreceiver/generated_component_test.go
  receiver/githubreceiver/go.mod
  receiver/githubreceiver/go.sum
  receiver/gitlabreceiver/factory_test.go
  receiver/gitlabreceiver/generated_component_test.go
  receiver/gitlabreceiver/go.mod
  receiver/gitlabreceiver/go.sum
Labels: go, build

#565 feat: add tail based and probabilistic sampling plugins
  config/manifest.yaml
Labels: build

#580 feat(refactor): update github receiver to use scraper as key
  config/config.yaml
  extension/githubappauthextension/README.md
  receiver/githubreceiver/README.md
  receiver/githubreceiver/internal/scraper/githubscraper/factory.go
  receiver/githubreceiver/testdata/config.yaml
Labels: documentation, go, build
