Repository liatrio/liatrio-otel-collector, pull requests merged in 2024-05, with the labels that each got.

#387 feat: add GitHub code scanning alerts to CVE metric
  receiver/gitproviderreceiver/internal/scraper/githubscraper/generated_graphql.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
Labels: go, build

#403 test: add goleak scanning
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/package_test.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/graphql_helpers_test.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/package_test.go
Labels: go

#414 feat: bring changes up to parity with contributions
  receiver/gitproviderreceiver/README.md
  receiver/gitproviderreceiver/documentation.md
  receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/README.md
  receiver/gitproviderreceiver/internal/scraper/githubscraper/generated_graphql.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_happy_path.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_no_repos.yaml
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper_test.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/testdata/scraper/expected_happy_path.yaml
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/testdata/scraper/expected_no_projects.yaml
  receiver/gitproviderreceiver/metadata.yaml
Labels: documentation, go

#421 refactor: moved around functions, change file names, adding resource builder
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper_test.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/graphql_helpers.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/graphql_helpers_test.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/helpers.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/helpers_test.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/testdata/scraper/expected_happy_path.yaml
Labels: go

#422 feat(refactor): bringing gitlab goroutines inline with github scraper
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper_test.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/helpers.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/helpers_test.go
Labels: go

#413 feat: added ability to get repos by team
  receiver/gitproviderreceiver/documentation.md
  receiver/gitproviderreceiver/internal/metadata/generated_config.go
  receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_resource.go
  receiver/gitproviderreceiver/internal/metadata/generated_resource_test.go
  receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/config.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/generated_graphql.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_happy_path_with_team.yaml
  receiver/gitproviderreceiver/metadata.yaml
Labels: documentation, go
