Repository liatrio/liatrio-otel-collector, pull requests merged in 2024-03, with the labels that each got.

#340 feat: update core components to v0.96.0
  Makefile.Common
  config/config.yaml
  config/manifest.yaml
  go.mod
  go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  receiver/gitproviderreceiver/config.go
  receiver/gitproviderreceiver/generated_component_test.go
  receiver/gitproviderreceiver/go.mod
  receiver/gitproviderreceiver/go.sum
  receiver/gitproviderreceiver/internal/metadata/generated_status.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/config.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/config_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/factory.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/config.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/factory.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper_test.go
Labels: go, build

#345 feat: add otlp exporter to collector
  config/manifest.yaml
Labels: build

#349 chore(make): turn off cgo for docker build
  Makefile
Labels: build

#352 feat: updated namespaces
  receiver/gitproviderreceiver/README.md
  receiver/gitproviderreceiver/documentation.md
  receiver/gitproviderreceiver/internal/metadata/generated_config.go
  receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_happy_path.yaml
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper_test.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/testdata/scraper/expected_happy_path.yaml
  receiver/gitproviderreceiver/metadata.yaml
Labels: documentation, go

#357 fix: fixed error templates to include the real error
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
Labels: go
