Repository liatrio/liatrio-otel-collector, pull requests merged in 2024-07, with the labels that each got.

#443 fix: fix metric values from gitlab scraper
  receiver/gitproviderreceiver/README.md
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/testdata/scraper/expected_happy_path.yaml
Labels: documentation, go

#444 fix: Ignore archived projects in Gitlab scraper
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/helpers.go
Labels: go

#445 fix(ci): add token generation through github app for releases
  .github/workflows/build.yml
  .github/workflows/pr_conventional.yml
  .github/workflows/release.yml
Labels: github_actions

#446 fix(ci): set final release to use GITHUB_TOKEN
  .github/workflows/release.yml
Labels: github_actions
