Repository liatrio/liatrio-otel-collector, pull requests merged in 2024-08, with the labels that each got.

#457 feat: add multimod step to build workflow to auto update go mod versions
  .github/workflows/build.yml
Labels: github_actions, build

#462 fix: change workflow to depend on output of get next version step
  .github/workflows/build.yml
Labels: github_actions

#463 fix: add github app to author multimod pr in build workflow
  .github/workflows/build.yml
Labels: github_actions

#467 ci: restructure semantic release workflow
  .github/workflows/build.yml
  .github/workflows/go-semantic-release.yml
  .github/workflows/scorecard.yml
Labels: github_actions

#470 fix(ci): Add debugging to workflows
  .github/workflows/go-semantic-release.yml
Labels: github_actions

#471 fix(ci): correct spacing
  .github/workflows/go-semantic-release.yml
Labels: github_actions

#472 fix(ci): fixed typo in github event context
  .github/workflows/go-semantic-release.yml
Labels: github_actions

#473 fix(ci): fix spacing in workflow
  .github/workflows/go-semantic-release.yml
Labels: github_actions

#455 chore: updates compgen templates for new interfaces
  Makefile.Common
  cmd/compgen/README.md
  cmd/compgen/cmd/receiver/templates/Makefile.tmpl
  cmd/compgen/cmd/receiver/templates/config.go.tmpl
  cmd/compgen/cmd/receiver/templates/config_test.go.tmpl
  cmd/compgen/cmd/receiver/templates/doc.go.tmpl
  cmd/compgen/cmd/receiver/templates/factory.go.tmpl
  cmd/compgen/cmd/receiver/templates/factory_test.go.tmpl
  cmd/compgen/cmd/receiver/templates/internal/scraper.go.tmpl
  cmd/compgen/cmd/receiver/templates/internal/scraper_test.go.tmpl
Labels: documentation, go, build

#468 chore(docs): add documentation to GitHub Scraper defining PAT permissions
  receiver/gitproviderreceiver/README.md
  receiver/gitproviderreceiver/docs/gh_pat_perms.png
Labels: documentation

#478 fix: generate and attach change log to release. Addresses #477
  .github/workflows/create-release.yml
  receiver/gitproviderreceiver/README.md
Labels: documentation, github_actions

#482 feat: add chores and emojis into changelog
  .github/workflows/create-release.yml
Labels: github_actions
