Repository liatrio/liatrio-otel-collector, pull requests merged in 2024-04, with the labels that each got.

#362 feat: add various receivers for cloudwatch and kubernetes
  config/manifest.yaml
Labels: build

#363 feat: upgraded dependencies
  cmd/compgen/cmd/receiver/templates/config.go.tmpl
  cmd/compgen/cmd/receiver/templates/config_test.go.tmpl
  cmd/compgen/cmd/receiver/templates/factory.go.tmpl
  cmd/compgen/cmd/receiver/templates/internal/scraper.go.tmpl
  cmd/compgen/go.mod
  cmd/compgen/go.sum
  config/manifest.yaml
  go.mod
  go.sum
  receiver/gitproviderreceiver/config.go
  receiver/gitproviderreceiver/config_test.go
  receiver/gitproviderreceiver/factory.go
  receiver/gitproviderreceiver/go.mod
  receiver/gitproviderreceiver/go.sum
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
Labels: go, build

#360 fix: updates from upstream
  receiver/gitproviderreceiver/documentation.md
  receiver/gitproviderreceiver/internal/metadata/generated_config.go
  receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_happy_path.yaml
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
  receiver/gitproviderreceiver/internal/scraper/gitlabscraper/testdata/scraper/expected_happy_path.yaml
  receiver/gitproviderreceiver/metadata.yaml
Labels: documentation, go

#365 fix!: branch age was being saved in hours instead of seconds
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_happy_path.yaml
Labels: go

#361 chore: auto label new issues with triage
  .github/workflows/auto-label-issues.yml
Labels: github_actions

#383 feat: add count connector
  config/manifest.yaml
Labels: build

#370 feat: adding new metric for vulnerabilities
  receiver/gitproviderreceiver/documentation.md
  receiver/gitproviderreceiver/internal/metadata/generated_config.go
  receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/generated_graphql.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_happy_path.yaml
  receiver/gitproviderreceiver/metadata.yaml
Labels: documentation, enhancement, go

#385 feat: add groupbyattr processor
  config/manifest.yaml
Labels: build

#394 chore(ci): add osv scanning to local development workflow
  Makefile
  Makefile.Common
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Labels: go, build
