Repository liatrio/liatrio-otel-collector, pull requests merged in 2025-03, with the labels that each got.

#675 feat: add job tracing from upstream
  receiver/githubreceiver/README.md
  receiver/githubreceiver/model.go
  receiver/githubreceiver/trace_event_handling.go
  receiver/githubreceiver/trace_event_handling_test.go
  receiver/githubreceiver/trace_receiver.go
Labels: documentation, go

#676 fix: fix missing parent span id's on job traces
  receiver/githubreceiver/trace_event_handling.go
Labels: go

#687 feat(gitlab): update metric conventions to latest semconv
  receiver/gitlabreceiver/documentation.md
  receiver/gitlabreceiver/internal/metadata/generated_config.go
  receiver/gitlabreceiver/internal/metadata/generated_config_test.go
  receiver/gitlabreceiver/internal/metadata/generated_metrics.go
  receiver/gitlabreceiver/internal/metadata/generated_metrics_test.go
  receiver/gitlabreceiver/internal/metadata/testdata/config.yaml
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/helpers.go
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/testdata/scraper/expected_happy_path.yaml
  receiver/gitlabreceiver/metadata.yaml
Labels: documentation, go

#701 fix: add chainguard first
  .github/chainguard/pr-lint-format.sts.yaml
  .github/chainguard/semantic-release.sts.yaml
Labels: github_actions

#700 feat: switch to use octo-sts
  .github/workflows/build.yml
  .github/workflows/create-release.yml
  .github/workflows/pr_conventional.yml
  .github/workflows/scorecard.yml
Labels: github_actions

#702 fix: update for release
  .github/workflows/build.yml
  .github/workflows/create-release.yml
  .github/workflows/pr_conventional.yml
Labels: github_actions

#706 fix(githubreceiver): fix association of parent span id for steps
  receiver/githubreceiver/trace_event_handling.go
Labels: github_actions, go

#690 feat: initial pass at exponential backoff rate limiting for GitHub
  receiver/githubreceiver/go.mod
  receiver/githubreceiver/go.sum
  receiver/githubreceiver/internal/scraper/githubscraper/config.go
  receiver/githubreceiver/internal/scraper/githubscraper/factory.go
  receiver/githubreceiver/internal/scraper/githubscraper/generated_graphql.go
  receiver/githubreceiver/internal/scraper/githubscraper/genqlient.graphql
  receiver/githubreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/githubreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/githubreceiver/internal/scraper/githubscraper/helpers.go
  receiver/githubreceiver/internal/scraper/githubscraper/helpers_test.go
Labels: go

#713 fix(deps): update x/net and jwt dependencies
  config/manifest.yaml
  extension/githubappauthextension/go.mod
  extension/githubappauthextension/go.sum
  receiver/githubactionsreceiver/go.mod
  receiver/githubactionsreceiver/go.sum
  receiver/githubreceiver/go.mod
  receiver/githubreceiver/go.sum
  receiver/gitlabreceiver/go.mod
  receiver/gitlabreceiver/go.sum
Labels: go, build

#716 fix(deps): force update indirect packages
  Dockerfile
  config/manifest.yaml
Labels: build, docker

#704 feat: add workflow for auto commit lint and format checkers
  .github/workflows/build.yml
Labels: github_actions, go
