Repository liatrio/liatrio-otel-collector, pull requests merged in 2025-04, with the labels that each got.

#729 feat: Add ability to limit query for merged merge requests in gitlab
  receiver/gitlabreceiver/README.md
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/config.go
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/generated.go
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/genqlient.graphql
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/helpers.go
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/helpers_test.go
Labels: documentation, go

#731 feat: Add rate limit retry to gitlab requests and better error messages when failures occur
  receiver/gitlabreceiver/go.mod
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/helpers.go
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/helpers_test.go
Labels: go

#732 fix: Add rate limit retry logic for gitlab getProjects function
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/gitlab_scraper.go
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/gitlab_scraper_test.go
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/helpers.go
  receiver/gitlabreceiver/internal/scraper/gitlabscraper/helpers_test.go
Labels: go

#735 chore: Update manifest
  config/manifest.yaml
Labels: build

#736 chore: Updating ALL manifest versions
  config/manifest.yaml
Labels: build
