Repository liatrio/liatrio-otel-collector, pull requests merged in 2025-02, with the labels that each got.

#650 feat: add awss3 exporter and receiver
  config/manifest.yaml
Labels: build

#654 fix: update collector service package
  receiver/githubreceiver/go.mod
  receiver/githubreceiver/go.sum
  receiver/gitlabreceiver/go.mod
  receiver/gitlabreceiver/go.sum
Labels: go

#662 chore: fix lint
  .github/workflows/build.yml
Labels: github_actions

#665 feat(receiver/github): update receiver to be in parity with upstream
  receiver/githubreceiver/README.md
  receiver/githubreceiver/config.go
  receiver/githubreceiver/config_test.go
  receiver/githubreceiver/documentation.md
  receiver/githubreceiver/factory.go
  receiver/githubreceiver/factory_test.go
  receiver/githubreceiver/generated_component_test.go
  receiver/githubreceiver/go.mod
  receiver/githubreceiver/go.sum
  receiver/githubreceiver/internal/metadata/generated_config.go
  receiver/githubreceiver/internal/metadata/generated_config_test.go
  receiver/githubreceiver/internal/metadata/generated_metrics.go
  receiver/githubreceiver/internal/metadata/generated_metrics_test.go
  receiver/githubreceiver/internal/metadata/generated_status.go
  receiver/githubreceiver/internal/metadata/testdata/config.yaml
  receiver/githubreceiver/internal/scraper.go
  receiver/githubreceiver/internal/scraper/githubscraper/README.md
  receiver/githubreceiver/internal/scraper/githubscraper/config.go
  receiver/githubreceiver/internal/scraper/githubscraper/config_test.go
  receiver/githubreceiver/internal/scraper/githubscraper/factory.go
  receiver/githubreceiver/internal/scraper/githubscraper/factory_test.go
  receiver/githubreceiver/internal/scraper/githubscraper/generated_graphql.go
  receiver/githubreceiver/internal/scraper/githubscraper/genqlient.graphql
  receiver/githubreceiver/internal/scraper/githubscraper/genqlient.yaml
  receiver/githubreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/githubreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/githubreceiver/internal/scraper/githubscraper/helpers_test.go
  receiver/githubreceiver/internal/scraper/githubscraper/schema.graphql
  receiver/githubreceiver/internal/scraper/githubscraper/testdata/scraper/expected_happy_path.yaml
  receiver/githubreceiver/internal/scraper/githubscraper/testdata/scraper/expected_happy_path_with_team.yaml
  receiver/githubreceiver/internal/scraper/githubscraper/testdata/scraper/expected_no_repos.yaml
  receiver/githubreceiver/metadata.yaml
  receiver/githubreceiver/model.go
  receiver/githubreceiver/model_test.go
  receiver/githubreceiver/testdata/config-invalidscraperkey.yaml
  receiver/githubreceiver/testdata/config-noscrapers.yaml
  receiver/githubreceiver/testdata/config.yaml
  receiver/githubreceiver/trace_event_handling.go
  receiver/githubreceiver/trace_event_handling_test.go
  receiver/githubreceiver/trace_receiver.go
  receiver/githubreceiver/trace_receiver_test.go
Labels: documentation, go
